/**
 * Main nav component
 */

.c_main-nav {
  display: flex;
  justify-content: space-between;
}


  .c_main-nav__item {
    display: flex;
    align-items: center;
    @apply px-3 py-2;
  }

  .c_main-nav__item--available {
    background-image: linear-gradient(to right, rgba(#2ecc71, 0.7) 0%, rgba(#2ecc71, 0.7) 100%);
    color: rgba(#2ecc7a, 0.7);
    font-weight: bold;

    &:hover, &:focus, &:active {
      background-image: linear-gradient(to right, rgba(#2ecc71, 1) 0%, rgba(#2ecc71, 1) 100%);
      color: rgba(#2ecc7a, 1);
    }
  }


  .c_main-nav__right {
    display: flex;
  }
