/**
 * Main nav component
 */

.c_main-nav {
  display: flex;
  justify-content: space-between;
}


  .c_main-nav__item {
    display: flex;
    align-items: center;
    @apply px-3 py-2;
    @apply text-sm;

    @screen sm {
      @apply text-base;
    }
  }

  .c_main-nav__item--available,
  .c_main-nav__item--unavailable {
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%) !important;
    font-weight: bold;
    opacity: 0.7;

    &:hover, &:focus, &:active {
      opacity: 1;
    }
  }

  .c_main-nav__item--available, {
    @apply text-green-500;
  }

  .c_main-nav__item--unavailable {
    @apply text-yellow-500;
  }


  .c_main-nav__right {
    display: flex;
  }
