@media print {
  // src: https://stackoverflow.com/a/1312456/827129
  * {
    overflow: auto !important;
  }

  #content,
  #page {
    width: 100%;
    margin: 0;
    float: none;
  }

  @page {
    margin: 2cm;
  }

  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  // kinda(?) works, but a bit unpredictable
  // src: https://stackoverflow.com/a/1664058/827129
  .print-pagebreak {
    clear: both;
    min-height: 1px;
    page-break-after: always;
  }
}
