@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply grow-height;
  }
}

:root {
  --default-margin-bottom: 20px;
}

@mixin headers() {
  margin-top: 0;
  margin-bottom: var(--default-margin-bottom);
  font-weight: bold;
  line-height: 1.2;
  transition: font-size ease 0.25s;
}

body {
  @apply grow-height;

  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-header {
  font-family: "Playfair Display", Georgia, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include headers();
}

h1,
.h1 {
  @apply fs-1;
  text-wrap: pretty;
}
h2,
.h2 {
  @apply fs-2;
}
h3,
.h3 {
  @apply fs-3;
}
h4,
.h4 {
  @apply fs-4;
}
h5,
.h5 {
  @apply fs-4;
}
h6,
.h6 {
  @apply fs-5;
}

p,
ol,
ul,
.mb-default {
  margin-bottom: var(--default-margin-bottom);
}

p li {
  @apply fs-5;

  & .c_blog-content {
    @apply fs-4;
  }
}

.c_blog-content {
  ul {
    list-style-type: disc;
    @apply ml-8;
  }
}

ol {
  @apply pl-8;
  list-style-type: decimal;
  list-style-position: outside;
}

/**
 * Default link styling
 *
 * http://codepen.io/poopsplat/pen/MaedPx
 *
 * 1) Change the second value to adjust how far from the top the underline
 *  should be.
 * 2) Change the second value to the desired height of the underline.
 */

a {
  @apply text-sky-500;
  text-decoration: none;

  background-image: linear-gradient(
    to right,
    theme("colors.gray.300") 0%,
    theme("colors.gray.300") 100%
  );
  background-repeat: repeat-x;
  background-position: 0px 100%; /* [1] */
  background-size: 100% 0.18em; /* [2] */

  &:hover {
    background-image: linear-gradient(
      to right,
      theme("colors.sky.300") 0%,
      theme("colors.sky.300") 100%
    );
  }

  // REWORK WITH WITH TAILWIND SETUP WHEN ALLOWING DARK MODE TOGGLE
  .dark & {
    @apply text-sky-400;

    background-image: linear-gradient(
      to right,
      theme("colors.gray.800") 0%,
      theme("colors.gray.800") 100%
    );

    &:hover {
      background-image: linear-gradient(
        to right,
        theme("colors.sky.800") 0%,
        theme("colors.sky.800") 100%
      );
    }
  }

  // Exclude react-tweet from global link styles
  .react-tweet-theme & {
    background-image: none !important;
  }
}

@layer utilities {
  .no-underline {
    &,
    &:hover {
      background-image: none !important;
    }
  }
}

blockquote {
  @apply fs-2;
  @apply ml-4;
  @apply mb-4;

  cite {
    display: block;
    font-style: italic;
  }
}

hr {
  @apply my-6;

  @screen md {
    @apply my-8;
  }

  // REWORK WITH WITH TAILWIND SETUP WHEN ALLOWING DARK MODE TOGGLE
  .dark & {
    @apply border-gray-900;
  }
}

@import "print";

@import "objects/bordered-list";

@import "components/pseudo-icon";

.blog-img-wrapper {
  @apply my-8;

  @screen md {
    @apply -mx-8;
  }

  @screen lg {
    @apply -mx-12;
  }
}

.blog-img-wrapper__desc {
  @apply p-2;
  @apply text-gray-600;
  @apply text-sm;
  @apply italic;
}

ul {
  ul {
    @apply pl-12;
    @apply -indent-8;

    ul {
      @apply pl-16;
    }
  }
}

.blog-post {
  h1 {
    @apply mt-12;

    @screen md {
      @apply mt-16;
    }
  }

  h2 {
    @apply mt-8;

    @screen md {
      @apply mt-12;
    }
  }

  h3 {
    @apply mt-6;

    @screen md {
      @apply mt-8;
    }
  }

  .fw-600 {
    font-weight: 600;
  }
}

// Reset styles for sonner toast
[data-sonner-toaster] {
  ol {
    @apply p-0 m-0;
    list-style-type: none;
  }
}
