.o_bordered-list {
  margin: 0;
  text-indent: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  @apply -mr-2;
  @apply -mb-1;

  @screen md {
    @apply -mr-4;
    @apply -mb-2;
  }

  & > * {
    @apply mr-2;
    @apply mb-1;

    @screen md {
      @apply mr-4;
      @apply mb-2;
    }

    &:nth-last-child(n+2) {
      @apply pr-2;
      border-right: 2px solid theme("colors.gray.400");

      @screen md {
        @apply pr-4;
      }

      @media (prefers-color-scheme: dark) {
        border-right-color: theme("colors.gray.800");
      }
    }
  }
}
